<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio</title>
</head>

<body>

    <div class="jumbotron">
        <h2 style="color: blue;">API de Prueba</h2>
        <br>
        <p>En esta API de Pruena podra realizar pruebas mediante <b>Postman</b> </p>
        <p>Puede realizar pruebas GET, POST, PUT y DELETE en la siguiente direccion: <b>http://localhost:1337/productos</b> </p>
        <p>Gracias</p>



    </div>

</body>

</html>