<h2 style="color:orange;">Historial</h2>

<% if(DB_PRODUCTOS.length > 0){ %> 
    <div class="table-responsive">
        <table class="table table-dark">
            <tr style="color: green;"> <th>Producto</th> <th>Precio</th> <th>Imagen</th> </tr>
            <!-- filas -->
            <% for (const producto of DB_PRODUCTOS) {%> 
            <tr> 
                <td><%=producto.producto %> </td>
                <td><%=producto.precio %> </td>
                <td>
                    <img width="30" src="<%=producto.Imagen%>" alt="">
                </td>
            </tr>
            <% } %> 
            <!-- Fin filas -->
        </table>
    </div>
<% } else { %> 
    <h3 class="alert alert-danger">No se encontraron dato</h3>
<% } %> 
<form action="/" method="GET">
    <button class="btn btn-success mt-3 mb-5">Ir a Formulario</button>
</form>
