<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form HBS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body>
    {{{body}}}

    <script src="/socket.io/socket.io.js"></script>

    <script>
        const socket = io();

        socket.on("from-server-producto", (producto) => {
            console.log(producto)
            const htmlProductos = producto.map((item) => {
                return `<tr>
                    <td>${item.producto}</td>
                    <td>${item.precio}</td>
                    <td>
                        <img width="30" src="${item.imagen}" alt="">
                    </td>
                </tr>`;
            })

            const headerTabla = ` <tr style="color: green;">
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                </tr>`;

            document.querySelector("#historial").innerHTML = headerTabla + htmlProductos
        })


        function enviarProducto() {
            const inputProducto = document.querySelector('#producto');
            const inputPrecio = document.querySelector('#precio');
            const inputImagen = document.querySelector('#imagen');

            const producto = {
                producto: inputProducto.value,
                precio: inputPrecio.value,
                imagen: inputImagen.value
            }
            console.log(producto)
            socket.emit('from-client-producto', producto);
        }

        socket.on('from-server-mensaje', data => {
            {{!-- console.log('mensajes:', data.DB_MENSAJES); --}}
            render(data.DB_MENSAJES);
        });

        function render(mensajes) {
            const cuerpoMensajesHTML = mensajes.map((msj) => {
                return `<span style="color:blue;"><b>${msj.author} <span<span style="color:brown;">[${msj.date}]:</span> </b><span <span style="color:green;">${msj.text}</span></span>`;
            }).join('<br>');
            console.log(cuerpoMensajesHTML);

            document.querySelector('#mensajes').innerHTML = cuerpoMensajesHTML;
        }

        function enviarMensaje() {
            const inputEmail = document.querySelector('#email');
            const inputContenido = document.querySelector('#contenidoMensaje');
            const fecha = new Date().toLocaleString()

            const mensaje = {
                author: inputEmail.value,
                text: inputContenido.value,
                date: fecha
            }
            console.log(mensaje)

            socket.emit('from-client-mensaje', mensaje);
        }






    </script>


    {{!--
    <script src="../../public/js/main.js"></script> --}}
</body>

</html>