<div class="jumbotron">
    <h2 style="color: blue;">Login de Usuario</h2>
    <br>
    <form action="/login" method="post">
        <div class="form-group">
            <label for="nombre"><b>Ingrese Nombre</b></label>
            <input id="nombre" class="form-control" type="text" name="nombre" required>
        </div>
        <button class="btn btn-success mt-3 mb-5" type="submit">Enviar</button>
    </form>

</div>